<div class="columns mt-6">
  <div class="column is-half is-offset-one-quarter">
    <form
      method="post"
      name="datesanddice contact"
      action="success"
      data-netlify="true"
      netlify-honeypot="phonenumber"
    >
      <label class="label" for="email"
        >{{ .Site.Params.contact.newsletterName }}</label
      >
      <div class="field has-addons">
        <div class="control is-expanded">
          <input
            class="input"
            type="text"
            name="email"
            id="email"
            required
            placeholder="jij@mailserver.com"
          />
        </div>
        <div class="control">
          <input
            type="submit"
            value="{{ .Site.Params.contact.buttonSend }}"
            class="button is-primary"
          />
        </div>
      </div>
      <div class="field is-hidden">
        <label class="label" for="phonenumber"
          >Don’t fill this out if you’re human</label
        >
        <input
          class="input"
          type="text"
          name="phonenumber"
          id="phonenumber"
          required
        />
      </div>
    </form>
  </div>
</div>
